<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caicai.criminalintent">

    <!-- 网络链接 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.CriminalActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.CriminalListActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.CriminalPagerActivity"
            android:label="@string/app_name" />
        <activity android:name=".meitu.MainActivity" />
        <activity android:name=".media.HelloMoonActivity" />

        <service android:name="com.easemob.chat.EMChatService" />

        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="caicai#criminalintent" />

        <activity
            android:name=".activity.MultiListviewActivity"
            android:label="@string/title_activity_multi_listview"
            android:theme="@style/AppTheme.NoActionBar" />
        >
        <activity
            android:name=".designbuilder.BuilderActivity"
            android:label="@string/title_activity_builder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".designobserver.projectobserver.ProjectObserverActivity"
            android:label="@string/title_activity_project_observer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".designobserver.projectobserver.ExtendsActivity"
            android:label="@string/title_activity_extends"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.XmlActivity"
            android:label="@string/title_activity_xml"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity
            android:name=".activity.DialogResumeActivity"
            android:label="@string/title_activity_dialog_resume"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".widget.smartbutton.SwitchButtonActivity"
            android:label="@string/title_activity_switch_button"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".widget.popup.PopupView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".TestLaunchActivity"
            android:label="@string/title_activity_test_launch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fresco.FrescoActivity"
            android:label="@string/title_activity_fresco"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".rxjava.RxJavaActivity"
            android:label="@string/title_activity_rx_java"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--广播接收者-->
        <receiver android:name=".receiver.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.InstallAndUnstall">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"></action>
                <action android:name="android.intent.action.PACKAGE_REMOVED"></action>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.LevelReserver1">
            <intent-filter android:priority="1000">
                <action android:name="caicai"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.LevelReserver2">
            <intent-filter android:priority="500">
                <action android:name="caicai"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.LevelReserver3">
            <intent-filter android:priority="100">
                <action android:name="caicai"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.LevelReserver4">
            <intent-filter android:priority="10">
                <action android:name="caicai"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
